<h1>Accounts#show</h1>
<div class="container">
  <%= link_to "Farm list", account_farm_lists_path(@account), class: "btn btn-primary" %>
  <%= link_to "Building", "#", class: "btn btn-primary" %>
</div>
